/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import url("https://use.typekit.net/wyk8wvv.css");
@import 'variables';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: url(../img/img212.jpg) no-repeat;
	background-position: 70%;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	overflow-x: hidden;
}

.wrapper{
	margin: auto;
	width: 90%;
	@include desktop{
		width: 80%;
	}
}

#nav-thing{
	height: 500px;
}




/* 2. Content ================================= */

nav{
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	background: #001935;

	@include desktop{
		background: -moz-linear-gradient(left, #001935 60%, rgba(0,0,0,0) 90%);
		background: -webkit-linear-gradient(left, #001935 60%,rgba(0,0,0,0) 90%);
		background: linear-gradient(to right, #001935 60%,rgba(0,0,0,0) 90%);
	}
	
	ul{
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;

		@include desktop{
			width: 70%;
		}

		li{
			padding: 2%;
		}
		

		a{
			@include nav-font;
			color: $link-color;
			font-size: 1.5rem;
			text-decoration: none;

			&:hover{
				background: white;
			}

			@include tablet{
				font-size: 2rem;
			}
		}
	}
}

#backgroundCanvas{
	top: 0;
	left: 0;
	width: 100%;
	transform-origin: bottom;
	position: fixed;
}

.intro{
	position: relative;
	margin: 40% auto;
	

	@include tablet{
		margin: 30% auto;
		margin-bottom: 5%;
	}
}

h1{
	@include bold-serif;
	font-size: 4rem;
	text-align: center;
	// margin: 30%;
	// margin-bottom: 0%;

	@include desktop{
		font-size: 7rem;
	}
}

.landing-page{
	@include light-sans;
	font-size: 2rem;
	text-align: center;
	display: block;
	
	@include desktop{
		font-size: 4rem;
	}
}

//WORK

h2{
	@include bold-serif;
	font-size: 3rem;
	margin-bottom: 50px;
}

.works{
	@include tablet{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.project-preview{
	width:	100%;
	margin-bottom: 20%;

	@include tablet{
		flex-basis: 45%;
		min-width: 45%;
		margin-bottom: 15%;
	}

	@include bg-desktop{
		flex-basis: 35%;
		min-width: 43%;
	}


	.description{
		@include description-color;
		position: relative;
		transform: translate(0px,90px);
		border: 1px solid black;
		padding-bottom: 5%;
		width: 100%;

		&.odd{
			text-align: left;
		}
		
		&.even{
			text-align: right;
		}

		@include desktop{
			transform: translate(10%,20%);
			padding-bottom: 10%;
		}

		h3{
			@include regular-sans;
			font-size: 1.75rem;
			padding: 20px 30px 0px;
		}
	
		.category{
			@include light-sans;
			font-size: 1.5rem;
			padding: 5px 30px 0px;
			display: inline;
		}

		.buttons{
			display: flex;
			justify-content: space-around;
			padding: 25px;
			bottom: 0;
			align-content: flex-end;
		}

		button{
			background: black;
			@include light-sans;
			padding: 10px 25px;
			
			a{
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 20px;
			}
		}
	}

	.border{
		width: 45%;
		padding-bottom: 200px;
		position: absolute;
		pointer-events: none;
		display: block;

		@include tablet{
			width: 60%;
		}
		
		
		&.one{
			background: url(../img/work-border-one.png) no-repeat;
			background-size: contain;
			right: 0px;
			transform: translate(5%,-52%);

			@include tablet{
				transform: translate(15%,-50%);	
			}

			@include desktop{
				transform: translate(15%,-35%);
			}

			@include bg-desktop{
				transform: translate(15%,-35%);
			}
		}

		&.two{
			background: url(../img/work-border-two.png) no-repeat;
			background-size: contain;
			transform: translate(-5%,-52%);

			@include tablet{
				transform: translate(-20%,-50%);	
			}

			@include desktop{
				transform: translate(-25%,-35%);
			}

			@include bg-desktop{
				transform: translate(-25%,-35%);
			}
		}
	}

	&.krsteakbar{
		background: url(../img/krsteakbar.png) no-repeat;
		background-size: cover;
		padding-bottom: 50px;

		@include tablet{
			background-size: contain;
		}

		@include desktop{
			background-size: cover;
		}
	}
}

// About

.about-content{
	@include tablet{
		display: flex;
		flex-direction: column;
	}
}

.second-row{
	display: flex;
	flex-direction: row;
}

.third-row{
	@include tablet{
		display: flex;
		justify-content: space-between;
	}
	li{
		padding-bottom: 5%;
	}
}

.header{
	@include description-color;
	width: 100%;
	text-align: center;
	
	h2{
		padding: 20px 0px;
	}
}

.pic{
	width: 100%;
	margin-bottom: 25px;

	@include tablet{
		margin-right: 2%;
	}

	img{
		width: 100%;
		border: 10px solid rgba(156,190,190,0.8);
		
	}

}

.logo{
	width: 50%;
	margin-bottom: 25px;
	align-self: center;

	@include tablet{
		flex-basis: 50%;
	}

	// @include desktop{
	// 	flex-basis: 20%;
	// }

	img{
		width: 100%;
	}
}

// .canvas-play{
// 	visibility: hidden;
// 	@include description-color;
// 	width: 40%;
	
// 	@include desktop{
// 		visibility: visible;
// 	}
// }

.five-w{
	@include description-color;
	padding: 5%;
	margin-bottom: 25px;

	@include tablet{
		margin-bottom: 0px;
	}

	@include desktop{
		margin-right:1%;
	}

	li{
		padding-bottom: 4%;

		&:last-child{
			padding-bottom: 0;
		}
	}

	h3{
		@include regular-sans;
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 20px;
		padding-bottom: 5px;
	}

	.five-w-answers{
		@include light-sans;
		font-size: 20px;
		padding-bottom: 20px;
	}
}

.blurb{
	@include description-color;
	padding: 5%;

	@include tablet{
		width: 62%;
	}
	@include desktop{
		width: 70%;
	}

	p{
		@include light-sans;
		font-size: 18px;
		line-height: 1.25em;

		@include tablet{
			font-size: 24px;
		}

	}

	a{
		color: #000d0c;
	}
}