/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import url("https://use.typekit.net/wyk8wvv.css");
@import 'variables';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: url(../img/img212.jpg) no-repeat;
	background-position: 70%;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	overflow-x: hidden;
}

.wrapper{
	margin: auto;
	width: 90%;
	@include desktop{
		max-width: 80%;
	}
	@include bg-desktop{
		max-width: 960px;
	}
}

#nav-thing{
	height: 100px;
}




/* 2. Content ================================= */

nav{
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	background: #001935;

	@include desktop{
		background: -moz-linear-gradient(left, #001935 60%, rgba(0,0,0,0) 90%);
		background: -webkit-linear-gradient(left, #001935 60%,rgba(0,0,0,0) 90%);
		background: linear-gradient(to right, #001935 60%,rgba(0,0,0,0) 90%);
	}
	
	ul{
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;

		@include desktop{
			width: 70%;
		}

		li{
			padding: 2%;
		}
		

		a{
			@include nav-font;
			color: $link-color;
			font-size: 1.5rem;
			text-decoration: none;

			&:hover{
				background: white;
			}

			@include tablet{
				font-size: 2rem;
			}
		}
	}
}

#backgroundCanvas{
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transform-origin: bottom;
	position: fixed;
	z-index: -1;
}

.intro{
	position: relative;
	margin: 40% auto;
	background: linear-gradient(to right, transparent, white 40%, transparent 90%);
	

	@include tablet{
		margin: 60% auto;
		margin-bottom: 5%;
	}
}

h1{
	@include bold-serif;
	font-size: 4rem;
	text-align: center;
	// margin: 30%;
	// margin-bottom: 0%;

	@include desktop{
		font-size: 7rem;
	}
}

.landing-page{
	@include light-sans;
	font-size: 2rem;
	text-align: center;
	display: block;
	
	@include desktop{
		font-size: 4rem;
	}
}

//WORK

h2{
	@include bold-serif;
	font-size: 3rem;
	margin-bottom: 50px;
}

.works { // a UL
	@include tablet{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	li {
		width:	100%;
		margin-bottom: 20%;

		@include tablet{
			flex-basis: 45%;
			min-width: 45%;
			margin-bottom: 15%;
		}

		@include bg-desktop{
			flex-basis: 43%;
			min-width: 43%;
		}

		.border{
			background-image: url(../img/workbg2.png);
			background-size: cover;
			background-position-x: 30%;
		}


		.description{
			// @include description-color;
			position: relative;
			// transform: translate(0px,90px);
			padding-bottom: 5%;
			width: 100%;
			text-align: left;


			@include desktop{
				transform: translate(10%,20%);
				padding-bottom: 10%;
			}

			h3{
				@include regular-sans;
				font-size: 1.75rem;
				padding: 20px 0px;
				color: white;
			}
		
			.category{
				@include light-sans;
				font-size: 1.5rem;
				padding: 5px 0px;
				display: inline;
				color: white;
			}

		}

		.buttons{
			display: flex;
			justify-content: space-around;
			padding: 25px;
			bottom: 0;
			align-content: flex-end;
		}

		button{
			background: black;
			@include light-sans;
			padding: 10px 25px;
			
			a{
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 20px;
			}
		}

		.work-wrapper{
			width: 100%;

			img{
				width: 100%;
				filter: grayscale(100%);
			}
		}

		&:nth-child(even) {
			background-image: url(../img/workbg1.png);
			background-size: 95%;
			background-repeat: no-repeat;
		}
	}


}
// About

.about-content{
	@include tablet{
		display: flex;
		flex-direction: column;
	}
}

.second-row{
	display: flex;
	flex-direction: row;
}

.third-row{
	padding-bottom: 5%;

	@include tablet{
		display: flex;
		justify-content: space-between;
	}
	li{
		padding-bottom: 5%;
	}
}

.header{
	@include description-color;
	width: 100%;
	text-align: center;
	h2{
		padding: 20px 0px;
	}
}

.pic{
	width: 100%;
	margin-bottom: 25px;

	@include tablet{
		margin-right: 2%;
	}

	img{
		width: 100%;
		border: 10px solid rgba(156,190,190,0.8);
		
	}

}

.logo{
	width: 50%;
	margin-bottom: 25px;
	align-self: center;

	@include tablet{
		flex-basis: 50%;
	}

	// @include desktop{
	// 	flex-basis: 20%;
	// }

	img{
		width: 100%;
	}
}

.five-w{
	@include description-color;
	padding: 5%;
	margin-bottom: 25px;

	@include tablet{
		margin-bottom: 0px;
	}

	@include desktop{
		margin-right:1%;
	}

	li{
		padding-bottom: 4%;

		&:last-child{
			padding-bottom: 0;
		}
	}

	h3{
		@include regular-sans;
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 20px;
		padding-bottom: 5px;
	}

	.five-w-answers{
		@include light-sans;
		font-size: 20px;
		padding-bottom: 20px;
	}
}

.blurb{
	@include description-color;
	padding: 5%;

	@include tablet{
		width: 62%;
	}
	@include desktop{
		width: 70%;
	}

	p{
		@include light-sans;
		font-size: 18px;
		line-height: 1.25em;
		margin-bottom: 0.75em;

		@include tablet{
			font-size: 22px;
		}
	}

	.strike{
		text-decoration: line-through;

	}

	a{
		color: #264553;
		text-decoration: none;
		@include regular-sans;
		cursor: pointer;
	}
}

.contact-container{
	@include description-color;
	padding: 5%;

	@include tablet{
		display: flex;
	}

	h3{
		@include regular-sans;
		font-size: 2rem;
		padding-top: 15px;

		@include tablet{
			font-size: 3rem;
		}
	}

	a{
		color: #264553;
		text-decoration: none;
		@include regular-sans;
		cursor: pointer;
		font-size: 1.5rem;
		display: block;

		@include tablet{
			font-size: 2rem;
		}
	}

	.left-col{
		width: 50%;
	}

	.right-col{
		background-image: url(../img/contact.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position-y: 100%;
		width: 50%;
	}

}